@charset "UTF-8";

@font-face {
 font-family: "Ubuntu Mono";
 src: url("../fonts/UbuntuMono-Regular.ttf") format("truetype");
}

@font-face {
 font-family: "PressStart2P";
 src: url("../fonts/PressStart2P-vaV7.ttf") format("truetype");
}


:root {
 
  --main-color: hsl(234, 2%, 90%);
  /*17%*/
  --main-bg-color: hsl(234,2%,20%);
  --main-contrast-color: black;
  --main-contrast-bg-color: hsl(234, 2%, 90%);
  /*-132;*/
  /*43%*/
  --second-bg-color: hsl(234, 2%, 43%);
  --third-bg-color:  hsl(234, 2%, 60%) ;
  
  --sharp-color: hsl(109.7, 37%,42%); 
  --sharp-font : "Ubuntu Mono"; /*, georgia*/
  --title-font: "PressStart2P";
  
  
  --max-width-content : 1480px;
  --min-width-content: 680px;
  --box-width: 44%;
  --small-box-width: 20%;
  --content-width: 60%;
  --content-margin: 0 20%;
}


body {

    background-color: var(--second-bg-color);
    color: var(--main-color);
	font-family : Montserrat, sans-serif;
	margin : 0;
	min-height: 100%;
}

/* ------------------*/
/* responsive tweaks */
/* ------------------*/

@media screen and (max-width: 800px) {
	:root{
		--box-width: 93%;
		--small-box-width: 42%;
		--content-width: 100%;
		--content-margin: 0;
	}
	
}


/* ---------------------- */
/* main content structure */
/* ---------------------- */

#display {

	width: 100%;
	padding : 0;
	min-height: 55em;
	
	/*background-color : var(--third-bg-color);*/
	background: rgba(43, 43, 43, 0.4) no-repeat center/100% url("../pictures/0002.jpg	")  ;
	background-blend-mode: overlay;
	background-size: cover;

}

#nav {
	width: 100%;
	background-color : var(--second-bg-color);
	color : var(--main-contrast-color);
	margin: 0;
	padding : 0;
	display: inline-flex;
	align-items: center;
}




#content {
	width: var(--content-width);
	max-width: var(--max-width-content);
	margin: var(--content-margin);
	padding: 0;
	min-height: 55em;
	background-color : var(--main-bg-color);
}
 



#main_footer {
	width: 100%;
	background-color : var(--second-bg-color);
	color : var(--main-contrast-color);
	margin: 0;
	padding : 1em;
	text-align: center;
	
}


/* --------------------- */
/* main container tweaks */
/* --------------------- */

#content article, #content header, #boxes_posts, #boxes_cat{
	width: 96%;
	margin: 0;
	padding: 2%;
	

	
}

#display section article {
	line-height: 1.5em
}

#subtitle{
	color: var(--main-color);
	font-family: var(--sharp-font);
	text-align: center;
	
}

.boxes {
	
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	list-style: none;
	
	
}

.box {
	height: 10em;
	width: var(--box-width);
	min-width: var(--content-width)*0.9;
	margin: 1em 2%;
	padding: 1%;
	background-color: var(--second-bg-color);
	flex-shrink: none;
	
	/*display: flex;
	flex-wrap: wrap;*/
}

.box:hover {
	background-color: var(--main-contrast-bg-color);
	color: var(--main-contrast-color);
}



.box_small {
	height: 10em;
	width: var(--small-box-width);
	min-width: var(--content-width)*0.9;
	margin: 1em 1.5%;
	padding: 1%;
	background-color: var(--second-bg-color);
	flex-shrink: none;
}

.box_small:hover {
	background-color: var(--main-contrast-bg-color);
	color: var(--main-contrast-color);
}



.box p {
	text-overflow: ellipsis;
	/* Required for text-overflow to do anything */
	white-space: nowrap;
	overflow: hidden;
	
}





/* ------------------ */
/* main footer tweaks */
/* ------------------ */

#main_footer p{
	margin: 1em 2em;
}





/* -------------- */
/* nav bar tweaks */
/* -------------- */


#nav #main_title {
	margin: 0;
	padding: 0 1em;
}

#nav ul li{
	display: inline;
	padding: 8px 1.5em;
	vertical-align: middle;
}

#nav form {
	display: inline;
	margin: 8px 1.5em;
	vertical-align: middle;
}

#nav form input{
	display: inline;
	vertical-align: middle;
	
}






/* -------------- */
/* text formating */
/* -------------- */

h1 {
	font-size: 36pt;
	text-align: center;
	font-family: var(--title-font);
	color: var(--sharp-color);
}


h2 {
	font-size: 26pt;
	font-family: var(--title-font);
	text-align: left;
	color: var(--sharp-color);
}   

h3 {
	font-size: 18pt;
	font-family: var(--title-font);
	text-align: left;
	color: var(--sharp-color);
} 

h4 {
	font-size: 13pt;
	font-family: var(--title-font);
	text-align: left;
	color: var(--sharp-color);
} 

h5 {
	font-family: var(--sharp-font);
	text-align: left;
	font-size: 13pt;
	font-weight: normal;
}



h3 a, h3 a:link, h3 a:visited,  h2 a, h2 a:link, h2 a:visited{
	color : var(--main-contrast-color);
	text-decoration : none;
	font-family: var(--title-font);
}



a,  a:link, a:visited {
	color : var(--sharp-color);
	text-decoration : none;
	font-family: var(--sharp-font);
}

a:hover {
	color : var(--sharp-color);
	text-decoration : underline;
}


.emphasis {
	font-family: var(--sharp-font);
}




.contrast {
	color : var(--main-contrast-color);
}

a.contrast{
	color : var(--main-contrast-color);
}


a:hover.contrast {
	/*background-color: black;*/
}