@charset "UTF-8";

@font-face {
 font-family: "Ubuntu Mono";
 src: url("UbuntuMono-Regular.ttf") format("truetype");
}



:root {
  /*--main-color: black;
 
  --main-bg-color: hsl(234,2%,93%);
  --main-contrast-color: white;
  /*-132;*/
  /*--second-bg-color: hsl(234, 2%, 43%);
  --third-bg-color: hsl(234, 2%, 80%);
  --sharp_color: #383838;*/
  
  --main-color: hsl(234, 2%, 90%);
 
  --main-bg-color: hsl(234,2%,5%);
  --main-contrast-color: black;
  /*-132;*/
  --second-bg-color: hsl(234, 2%, 43%);
  --third-bg-color: hsl(234, 2%, 17%);
  
  --sharp_color: hsl(109.7, 51.6%, 24.3%);
   
  --sharp-font : "Ubuntu Mono"; /*, georgia*/
  
  
  --max-width : 1024px;
}


body {

    background-color: var(--second-bg-color);
    color: var(--main-color);
	font-family : Montserrat, sans-serif;
	margin : 0;
	min-height: 100%;
}





/* ---------------------- */
/* main content structure */
/* ---------------------- */

#container {

	width: 100%;
	padding : 0;
	min-height: 60em;
	
	/*background-color : var(--third-bg-color);*/
	background: rgba(43, 43, 43, 0.67) no-repeat center/100% url("../pictures/0001.jpg	")  ;
	background-blend-mode: overlay;
	background-size: cover;

}

#nav {
	width: 100%;
	background-color : var(--second-bg-color);
	color : var(--main-contrast-color);
	margin: 0;
	padding : 0;
	display: inline-flex;
}



#main_footer {
	width: 100%;
	background-color : var(--second-bg-color);
	color : var(--main-contrast-color);
	margin: 0;
	padding : 1em;
	text-align: center;
	
}


/* --------------------- */
/* main container tweaks */
/* --------------------- */

#container section article, #container header{
	width: 60%;
	margin: 0 20%;
	padding: 2%;
	
	max-width: var(--max-width);
	background-color : var(--main-bg-color);
}

#container section article {
	line-height: 1.5em
}

#subtitle{
	color: var(--main-color);
	font-family: var(--sharp-font);
	text-align: center;
}

/* overlay for background picture */
.overlay {
  position: absolute;
  bottom: 0;
  /*background: rgb(0, 0, 0);*/
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  height: 100%;
  /*transition: .5s ease;*/
  opacity:1;
  
}



/* ------------------ */
/* main footer tweaks */
/* ------------------ */

#main_footer p{
	margin: 1em 2em;
}





/* -------------- */
/* nav bar tweaks */
/* -------------- */

#nav ul li{
	display: inline;
	padding: 8px 1.5em;
	vertical-align: middle;
}

#nav form {
	display: inline;
	margin: 8px 1.5em;
	vertical-align: middle;
}

#nav form input{
	display: inline;
	vertical-align: middle;
	
}






/* -------------- */
/* text formating */
/* -------------- */

h1 {
	font-size: 46pt;
	text-align: center;
	font-family: var(--sharp-font);
	color: var(--sharp_color);
}


h2 {
	font-size: 32pt;
	font-family: var(--sharp-font);
	text-align: left;
	color: var(--sharp_color);
}   

h3 {
	font-size: 26pt;
	font-family: var(--sharp-font);
	text-align: left;
	color: var(--sharp_color);
} 

h4 {
	font-size: 16pt;
	font-family: var(--sharp-font);
	text-align: left;
	color: var(--sharp_color);
} 


a,  a:link, a:visited {
	color : var(--sharp-color);
	text-decoration : none;
	font-family: var(--sharp-font);
}

a:hover {
	color : var(--sharp-color);
	text-decoration : underline;
}




.contrast{
	color : var(--main-contrast-color);
}



:hover.super_contrast;{
	background-color: black;
}